<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    
    <% if (username) { %> 
      <h4><%= username.email %></h4>    
        <form method="post" action="/logout">
          <button type="submit" class="btn btn-dark" style="margin: 10px;">LOGOUT</button>
        </form>
   <% } else { %>

    <div>
      <a href="http://localhost:8080/login?"><button type="submit" class="btn btn-dark" style="margin: 10px;">LOGIN</button> </a>
    </div>

    <div>
      <a href="http://localhost:8080/register?"><button type="submit" class="btn btn-dark" style="margin: 10px;">REGISTER</button></a>
    </div>
    
    
    
    <% } %>
  </nav>
</header>